/* body{
    background-color: rgb(179, 134, 79);
}
h1{
    color: rgb(83, 37, 10);
} */
/* body{
    margin: 0;
    padding: 0;
    background-image:url(images.jpeg);
    background-repeat:no-repeat;
    background-position:top left;
} */
/* body{
    background: url(images.jpeg)no-repeat top right ,url(apple\ GIF\ by\ G1ft3d.gif) no-repeat top left 
} */
